flake.lock
.envrc
dev/data/embeddings(3).db
.DS_Store
dev/.DS_Store
dev/data/.DS_Store
dev/data/embeddings3.db
.gitignore
src/llm-scripts/testing/Project_CodeNet_experimentation_dataset
src/llm-scripts/csc_script/.env